
main {
    display: flex;
    width: 100%;
    height: 100vh;
    /* position: absolute; */
    top: 0;
    left: 0;
    right: 0; 
    color: white;
}
h4 {
    text-transform: capitalize;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
p {
    font-family: cursive;
}
.about {
    background-color: black;
    
    width: 25%;
    height: 100vh;
    border: white solid 0.1vw;
    padding-left: 1vw;
    z-index: 2;
}
@media (max-width: 500px) {
    main {
        display: flex;
        flex-wrap: wrap;
    }
    .about {
        background-color: black;
        
        width: 100%;
        height: 100%;
        border: white solid 0.1vw;
        /* padding-left: 1vw; */
        display: inline-block;
    }
}
#naruto {
    transition: all 1s linear ;  
}

#naruto:hover {
    background-color: yellow;
    color: black;
   #photo {
        height: 70%;
        width: 90%;
        background-image: url(naruto.png);
        background-size: cover;
        background-repeat: no-repeat;
        transition: all 1s linear 2s ;
    }
    font-size: large;
}
/* #photo {
    height: 70%;
    width: 90%;
    transition: all 1s linear ;
}
#photo:hover {
    background-image: url(Nprofile2-removebg-preview.png);
    background-size: cover;
    background-position:center ;
    background-repeat: no-repeat;
  
} */
#sasuke {
    transition: all 1s linear ;  
}
#sasuke:hover {
    background-color: #0E86CC;
    color: black;
   #photo2 {
        height: 70%;
        width: 90%;
        background-image: url(sassuke.png);
        background-size: cover;
        background-repeat: no-repeat;
        transition: all 1s linear 2s ;
    }
    font-size: large;
}
#Kakashi {
    transition: all 1s linear ;  
}
#Kakashi:hover {
    background-color: green;
    color: black;
   #photo3 {
        height: 70%;
        width: 90%;
        background-image: url(kakashi.png);
        background-size: cover;
        background-repeat: no-repeat;
        transition: all 1s linear 2s ;
    }
    font-size: large;
}
#Gaara {
    transition: all 1s linear ;  
}
#Gaara:hover {
    background-color: chocolate;
    color: black;
   #photo4{
        height: 70%;
        width: 90%;
        background-image: url(gaara.png);
        background-size: cover;
        background-repeat: no-repeat;
        transition: all 1s linear 2s ;
    }
    font-size: large;
}

